{% extends 'base.html' %}

{% block title %}{{ translations['gallery_title'] }} - {{ translations['site_name'] }}{% endblock %}

{% block content %}
<!-- Page Banner -->
<div class="hero-section" style="height: 60vh; min-height: 300px;">
    <div class="container">
        <div class="hero-content">
            <h1 class="animate__animated animate__fadeInDown">{{ translations['gallery_title'] }}</h1>
            <p class="animate__animated animate__fadeIn animate__delay-1s">{{ translations['gallery_subtitle'] }}</p>
        </div>
    </div>
</div>

<div class="wave-divider wave-divider-transparent">
  <svg viewBox="0 20 1440 60" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
    <path fill="#B3E5FC" d="M0,50 C360,-30 1080,130 1440,50 L1440,100 L0,100 Z"></path>
  </svg>
</div>

<!-- Gallery Section -->
<section class="section">
    <div class="container">
        <div class="section-title">
            <h2>{{ translations['gallery_title'] }}</h2>
        </div>
        
        <div class="gallery-container">
            <!-- Gallery Items -->
            <div class="gallery-item">
                <img src="{{ url_for('static', filename='images/Emilka.jpg') }}" alt="Instruktor Pływania Emilia" class="img-fluid">
            </div>

            <div class="gallery-item">
                <img src="{{ url_for('static', filename='images/nauka-plywania-dziecko.jpg') }}" alt="Nauka Pływania dla Dzieci" class="img-fluid">
            </div>

            <div class="gallery-item">
                <img src="{{ url_for('static', filename='images/Emilia.jpg') }}" alt="Trener pływania Warszawa" class="img-fluid">
            </div>
            
            <div class="gallery-item">
                <img src="{{ url_for('static', filename='images/Emilia-z-medalem.jpg') }}" alt="Instruktor Emilia z medalem" class="img-fluid">
            </div>
            
            <div class="gallery-item">
                <img src="{{ url_for('static', filename='images/Emilia-na-podium.jpg') }}" alt="Instruktor pływania Emilia na podium" class="img-fluid">
            </div>
            
            <div class="gallery-item">
                <img src="{{ url_for('static', filename='images/Emilia-MP-2020.jpg') }}" alt="Emilia na Mistrzostwach Polski 2020" class="img-fluid">
            </div>
            
            <div class="gallery-item">
                <img src="{{ url_for('static', filename='images/Emilia-z-medalami.jpg') }}" alt="Instruktor Emilia z medalami" class="img-fluid">
            </div>
            
            <div class="gallery-item">
                <img src="{{ url_for('static', filename='images/Emilia-termy-malta.jpg') }}" alt="Instruktor Emilia na zawodach pływackich" class="img-fluid">
            </div>
            
            <div class="gallery-item">
                <img src="{{ url_for('static', filename='images/nauka-plywania-z-Emilia.jpg') }}" alt="Nauka pływania" class="img-fluid">
            </div>
            
            <div class="gallery-item">
                <img src="{{ url_for('static', filename='images/IMG_3046.jpg') }}" alt="Instruktor Emilia z uczniem" class="img-fluid">
            </div>

            <div class="gallery-item">
                <img src="{{ url_for('static', filename='images/IMG_4574.jpg') }}" alt="Trenerka Emilia z medalami Mistrzostw Polski" class="img-fluid">
            </div>

            <div class="gallery-item">
                <img src="{{ url_for('static', filename='images/IMG_6931.jpg') }}" alt="Instruktorka Emilia po starcie na zawodach" class="img-fluid">
            </div>
            
            <div class="gallery-item">
                <img src="{{ url_for('static', filename='images/IMG_7009.jpg') }}" alt="Instruktorka Emilia na treningu" class="img-fluid">
            </div>
            
            <div class="gallery-item">
                <img src="{{ url_for('static', filename='images/IMG_7036.jpg') }}" alt="Instruktor pływania Emilia na treningu przy zachodzie słońca" class="img-fluid">
            </div>
            
            <div class="gallery-item">
                <img src="{{ url_for('static', filename='images/IMG_7950.jpg') }}" alt="Trenerka Emilia - trening pływacki z kubkiem" class="img-fluid">
            </div>
            
            <div class="gallery-item">
                <img src="{{ url_for('static', filename='images/IMG_7953.jpg') }}" alt="Trener pływania Emilia z medalami" class="img-fluid">
            </div>
            
            <div class="gallery-item">
                <img src="{{ url_for('static', filename='images/IMG_8007.jpg') }}" alt="Instruktor pływania Emilia z medalem" class="img-fluid">
            </div>
            
            <div class="gallery-item">
                <img src="{{ url_for('static', filename='images/usmiech-na-treningu.jpg') }}" alt="Trening pływania sprawiający radość" class="img-fluid">
            </div>
        </div>
    </div>
</section>

<div class="wave-divider wave-divider-light">
  <svg viewBox="0 20 1440 60" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
    <path fill="#e3f2fd" d="M0,50 C360,-30 1080,130 1440,50 L1440,100 L0,100 Z"></path>
  </svg>
</div>

<!-- CTA Section -->
<section class="booking-section section">
    <div class="container">
        <div class="booking-content">
            <h2>{{ translations['booking_title'] }}</h2>
            <p>{{ translations['booking_desc'] }}</p>
            <a href="{{ url_for('contact') }}" class="btn booking-btn">
                <i class="far fa-calendar-check me-2"></i>{{ translations['booking_cta'] }}
            </a>
        </div>
    </div>
</section>

{% endblock %}
