{% extends 'base.html' %}

{% block title %}{{ translations['site_name'] }} - {{ translations['site_subtitle'] }}{% endblock %}

{% block content %}
<div class="privacy-policy-container">
    <h1 id="privacy-policy-header">{{ translations['privacy_policy_title'] }}</h1>

    <h2>{{ translations['section1_title'] }}</h2>
    <p>{{ translations['section1_text'] }}</p>

    <h2>{{ translations['section2_title'] }}</h2>
    <p>{{ translations['section2_intro'] }}</p>
    <ul class="privacy-policy-list">
        <li>{{ translations['section2_point1'] }}</li>
        <li>{{ translations['section2_point2'] }}</li>
        <li>{{ translations['section2_point3'] }}</li>
        <li>{{ translations['section2_point4'] }}</li>
        <li>{{ translations['section2_point5'] }}</li>
    </ul>

    <h2>{{ translations['section3_title'] }}</h2>
    <p>{{ translations['section3_intro'] }}</p>
    <ul class="privacy-policy-list">
        <li>{{ translations['section3_point1'] }}</li>
        <li>{{ translations['section3_point2'] }}</li>
        <li>{{ translations['section3_point3'] }}</li>
        <li>{{ translations['section3_point4'] }}</li>
        <li>{{ translations['section3_point5'] }}</li>
    </ul>

    <h2>{{ translations['section4_title'] }}</h2>
    <p>{{ translations['section4_intro'] }}</p>
    <ul class="privacy-policy-list">
        <li>{{ translations['section4_point1'] }}</li>
        <li>{{ translations['section4_point2'] }}</li>
        <li>{{ translations['section4_point3'] }}</li>
        <li>{{ translations['section4_point4'] }}</li>
        <li>{{ translations['section4_point5'] }}</li>
    </ul>

    <h2>{{ translations['section5_title'] }}</h2>
    <ul class="privacy-policy-list">
        <li>{{ translations['section5_point1'] }}</li>
        <li>{{ translations['section5_point2'] }}</li>
        <li>{{ translations['section5_point3'] }}</li>
    </ul>

    <h2>{{ translations['section6_title'] }}</h2>
    <p>{{ translations['section6_intro'] }}</p>
    <ul class="privacy-policy-list">
        <li>{{ translations['section6_point1'] }}</li>
        <li>{{ translations['section6_point2'] }}</li>
        <li>{{ translations['section6_point3'] }}</li>
        <li>{{ translations['section6_point4'] }}</li>
        <li>{{ translations['section6_point5'] }}</li>
        <li>{{ translations['section6_point6'] }}</li>
        <li>{{ translations['section6_point7'] }}</li>
        <li>{{ translations['section6_point8'] }}</li>
    </ul>

    <h2>{{ translations['section7_title'] }}</h2>
    <p>{{ translations['section7_intro'] }}</p>
    <ul class="privacy-policy-list">
        <li>{{ translations['section7_point1'] }}</li>
        <li>{{ translations['section7_point2'] }}</li>
        <li>{{ translations['section7_point3'] }}</li>
    </ul>
    <p>{{ translations['section7_text'] }}</p>

    <h2>{{ translations['section8_title'] }}</h2>
    <ul class="privacy-policy-list">
        <li>{{ translations['section8_point1'] }}</li>
        <li>{{ translations['section8_point2'] }}</li>
        <li>{{ translations['section8_point3'] }}</li>
        <li>{{ translations['section8_point4'] }}</li>
    </ul>

    <h2>{{ translations['section9_title'] }}</h2>
    <p>{{ translations['section9_text'] }}</p>
</div>
{% endblock %}