{% extends 'base.html' %}

{% block title %}{{ translations['site_name'] }} - {{ translations['site_subtitle'] }}{% endblock %}

{% block content %}

<div class="privacy-policy-container">
    <h1 id="privacy-policy-header">{{ translations['privacy_policy_title'] }}</h1>

    <p>{{ translations['privacy_intro'] }}</p>

    <h2>{{ translations['information_we_collect_title'] }}</h2>
    <ul class="privacy-policy-list">
        <li><b>{{ translations['personal_information_title'] }}</b> {{ translations['personal_information_text'] }}</li>
        <li><b>{{ translations['usage_data_title'] }}</b> {{ translations['usage_data_text'] }}</li>
        <li><b>{{ translations['cookies_title'] }}</b> {{ translations['cookies_text'] }}</li>
    </ul>

    <h2>{{ translations['how_we_use_information_title'] }}</h2>
    <ul class="privacy-policy-list">
        <li><b>{{ translations['order_processing_title'] }}</b> {{ translations['order_processing_text'] }}</li>
        <li><b>{{ translations['marketing_communications_title'] }}</b> {{ translations['marketing_communications_text'] }}</li>
        <li><b>{{ translations['analytics_title'] }}</b> {{ translations['analytics_text'] }}</li>
    </ul>

    <h2>{{ translations['data_security_title'] }}</h2>
    <p>{{ translations['data_security_text'] }}</p>

    <h2>{{ translations['your_rights_title'] }}</h2>
    <p>{{ translations['your_rights_text'] }}</p>

    <h2>{{ translations['policy_changes_title'] }}</h2>
    <p>{{ translations['policy_changes_text'] }}</p>
</div>

{% endblock %}